body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007bff;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

ul {
    text-align: left;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    img {
        margin-top: 10px;
    }
}